<div>
    <div>
        <a ng-click="showNewResourceModal()" class="btn btn-warning">{{msg('button.newResource')}}</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>Resource name</th>
                <th>Languages</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="resource in resources">
                <td>{{resource.name}}</td>
                <td>
                    <ul>
                        <li ng-repeat="language in resource.languages">
                            <a ng-click="showResource(showType(resource), language, resource.name)">{{language}}</a>
                        </li>
                    </ul>
                </td>
                <td>{{msg('resource.type.' + showType(resource))}}</td>
            </tr>
        </tbody>
    </table>
    <div ng-include="'../cmsliteapi/resources/partials/widgets/new-resource-modal.html'"></div>
    <div ng-include="'../cmsliteapi/resources/partials/widgets/string-resource-modal.html'"></div>
    <div ng-include="'../cmsliteapi/resources/partials/widgets/stream-resource-modal.html'"></div>
</div>
