<script type="text/ng-template" id="text_to_speech_prompt_renderer.html">
    <div class="row-fluid prompt">
        <div class="form-inline">
            <label>
                <span class="icon-volume-up"></span>Message : <input type="text" class="input-small" ng-model="prompt.message">
            </label>
            <span class="pull-right icon-remove remove" ng-click="removePrompt(node, prompt, promptType)"></span>
        </div>
    </div>
</script>

<script type="text/ng-template" id="audio_prompt_renderer.html">
    <div class="row-fluid prompt">
        <div class="form-inline">
            <label>
                <span class="icon-music"></span>Audio File Url :<input type="text" ng-model="prompt.audioFileUrl">
            </label>
            <label>
                Alternate Message : <input type="text"  ng-model="prompt.altMessage">
            </label>
            <span class="pull-right icon-remove remove" ng-click="removePrompt(node, prompt, promptType)"></span>
        </div>
    </div>
</script>

<script type="text/ng-template" id="polymorphic_prompt_renderer.html">
    <div class="row-fluid prompt">
        <div class="form-inline">
            <label>
                </span> Choose Type :<select ng-model="prompt.selectedPrompt" ng-change="updatePrompt(node, prompt, prompt.selectedPrompt)" ng-options="value as key for (key, value) in prompt.availableTypes" />
            </label>
            <span class="pull-right icon-remove remove" ng-click="removePrompt(node, prompt, promptType)"></span>
        </div>
    </div>
</script>

<script type="text/ng-template" id="prompt_renderer.html">
    <div ng-show="isTextToSpeechPrompt(prompt)" ng-include="'text_to_speech_prompt_renderer.html'"></div>
    <div ng-show="isAudioPrompt(prompt)" ng-include="'audio_prompt_renderer.html'"></div>
    <div ng-show="isPolymorphic(prompt)" ng-include="'polymorphic_prompt_renderer.html'"></div>
</script>

<script type="text/ng-template"  id="tree_item_renderer.html">
    <li>
        <div class="tree-node row-fluid">
            <div class="node-header" ng-click="toggle(node)">
                <span ng-class="toggleIcon(node)"></span>
                <b ng-show="transitionKey"> On Press of Key :
                    <span>
                        <input type="text" class="input-small" ng-model="transitionKey">
                        <a ng-click="changeTransitionKey(node, oldTransKey, transitionKey)">Change Key</a>
                    </span>
                </b>
                <b ng-hide="transitionKey"> Root Node </b>
            </div>
            <div class="node-details" ng-show="node.visible">
                <div class="form-inline">
                    <label> Node Name: <input type="text" ng-model="node.name"> </label>
                </div>

                <div class="prompts">
                    <div>
                        <span><b> Notice Prompts : </b></span>
                        <span class="add-link" ng-click="addPrompt(node, 'noticePrompts')"> <a> [Add]</a></span>
                    </div>
                    <div ng-repeat="prompt in node.noticePrompts" class="container-fluid">
                        <div ng-include="'prompt_renderer.html'" ng-init="promptType='noticePrompts'"/>
                    </div>

                    <div>
                        <span><b> Prompts : </b></span>
                        <span class="add-link" ng-click="addPrompt(node, 'prompts')"> <a> [Add]</a></span>
                    </div>
                    <div ng-repeat="prompt in node.prompts" class="container-fluid">
                        <div ng-include="'prompt_renderer.html'" ng-init="promptType='prompts'"/>
                    </div>
                </div>

                <div class="transitions">
                    <div>
                        <span><b> Transitions : </b></span>
                        <span class="add-link" ng-click="addTransition(node)"> <a> [Add]</a></span>
                    </div>

                    <div ng-repeat="(transitionKey, transition) in node.transitions">
                        <ul ng-include="'tree_item_renderer.html'" ng-init="node=transition.destinationNode" ng-init="oldTransKey=transitionKey"></ul>
                    </div>
                </div>
            </div>
        </div>
    </li>
</script>

<div id="tree-builder">
    <ul ng-include="'tree_item_renderer.html'">
    </ul>
    <input type="button" class="btn btn-primary" value="Save" ng-click="save(tree)">
</div>
​