<div class="well2 span4">
    <div class="box-header">{{msg('security.signInUser')}}</div>
    <div class="box-content clearfix">
        <div class="well3">
            <form class="inside">
                <div class="control-group">
                    <h4>{{msg('security.signInWithId')}}</h4>
                </div>
                <div class="control-group">
                    <h4>{{msg('motechId')}}</h4>
                </div>
                <div class="control-group">
                    <input type="text" ng-model="user.userName" placeholder="{{msg('userName')}}">
                </div>
                <div class="control-group">
                    <input type="text" ng-model="user.password" placeholder="{{msg('password')}}">
                </div>
                <div class="control-group">
                    <input class="btn btn-primary" type="submit" value="{{msg('signIn')}}" ng-click=""/>
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="well2 span8">
    <div class="box-header">{{msg('security.signInUnsuccessful')}}</div>
    <div class="box-content clearfix">
        <div class="row-fluid">
            <div class="span6 inside">
                <div class="well3">
                    <div class="control-group">
                        <h5>{{msg('security.didnotRecognizeMsg')}}</h5>
                    </div>
                    <div class="control-group">
                        <h5>{{msg('security.thinkForgotMsg')}}</h5>
                    </div>
                    <div class="control-group">
                        <h5>{{msg('security.donotRememberMsg1 ')}}
                            <button class="btn btn-mini btn-link">{{msg('clickHere')}}</button> {{msg(' security.donotRememberMsg2')}}</h5>
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="well3"><div class="left-divider">
                    <form class="inside">
                        <div class="control-group">
                            <h4>{{msg('security.signInWithId')}}</h4>
                        </div>
                        <div class="control-group">
                            <h4>{{msg('motechId')}}</h4>
                        </div>
                        <div class="control-group">
                            <input type="text" ng-model="" placeholder="{{msg('username')}}">
                        </div>
                        <div class="control-group">
                            <input type="text" ng-model="" placeholder="{{msg('password')}}">
                        </div>
                        <div class="control-group">
                            <input class="btn btn-primary" type="submit" value="{{msg('signIn')}}" ng-click=""/>
                        </div>
                    </form>
                </div></div>
            </div>
        </div>
    </div>
</div>


<div class="well2 span4">
    <div class="box-header">{{msg('security.resetInstructions')}}</div>
    <div class="box-content">
        <form class="inside">
            <div class="well3">
                <div class="control-group">
                    <h4>{{msg('security.enterEmailQuestions')}}</h4>
                </div>
                <div class="control-group">
                    <p>{{msg('security.enterEmailMsg')}}</p>
                </div>
                <div class="control-group">
                    <label>{{msg('security.enterEmail')}}</label>
                    <input type="text" ng-model="" placeholder="_______">
                </div>
                <div class="control-group">
                    <input class="btn btn-primary" type="submit" value="{{msg('security.sendReset')}}" ng-click=""/>
                </div>
            </div>
        </form>
        <div class="clearfix"></div>
    </div>
</div>


<div class="well2 span4">
    <div class="box-header">{{msg('security.openIdConsumer')}}</div>
    <div class="box-content">
        <div class="well3">
            <form class="inside">
                <div class="control-group">
                    <h4>{{msg('Sign in?')}}</h4>
                </div>
                <div class="control-group">
                    <p>{{msg('security.signUsingAccount')}}</p>
                </div>
                <div class="control-group">
                    <input class="btn btn-primary" type="submit" value="{{msg('signIn')}}" ng-click=""/>
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


<div class="well2 span4">
    <div class="box-header">{{msg('security.resetYourPassword')}}</div>
    <div class="box-content">
        <div class="well3">
            <form class="inside">
                <div class="control-group">
                    <h4>{{msg('password')}}</h4>
                </div>
                <div class="control-group">
                    <label>{{msg('password')}}</label>
                    <input type="text" ng-model="" placeholder="_______">
                </div>
                <div class="control-group">
                    <label>{{msg('confirmPassword')}}</label>
                    <input type="text" ng-model="" placeholder="_______">
                </div>
                <div class="control-group">
                    <input class="btn btn-primary" type="submit" value="{{msg('changePassword')}}" ng-click=""/>
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>