<div class="inbox-header">{{msg('Managing Role')}}</div>
<div class="box-content clearfix">
    <div class="well3">
        <button type="submit" class="btn btn-primary"><i class="icon-plus icon-white i-middle"></i>{{msg('Add New Role')}}</button>
        <div class="margin-before">
            <label class="control-label">{{msg('Role name')}}</label>
            <input type="text" ng-model="propertyRoleName" class="input-medium">
        </div>
        <div class="margin-before">
            <table class="table table-condensed table-bordered table-striped table-lightblue table-role according" id="according2">
                <thead class="table-header">
                <tr>
                    <th>Id </th>
                    <th>{{msg('Role')}} </th>
                </tr>
                </thead>
                <tbody>
                <tr class="accordion-group" ng-repeat="role in roleList | filter:propertyRoleName | filterPagination:currentPage*pageSize | limitTo:pageSize">
                    <td>{{index}}</td>
                    <td class="accordion-heading"><span class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"><i class="icon-user"/>{{role.roleName}}</span></td>
                    <tr id="collapseOne" class="accordion-body collapse in" ng-repeat="permission in role.permissionNames">
                        <td class="accordion-inner">{{permission}}</td>
                    </tr>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="pagination pagination-centered pagination-condensed" ng-show="numberOfPages() &gt; 1">
            <ul>
                <li ng-class="{true:'disabled', false:''}[currentPage==0]"><a ng-click="changeCurrentPage(0)">{{msg('first')}}</a></li>
                <li ng-repeat="number in [] | repeat:numberOfPages()" ng-class="{true:'active', false:''}[number==currentPage]"><a ng-click="changeCurrentPage(number)">{{number+1}}</a></li>
                <li ng-disabled="{true:'disabled', false:''}[currentPage==numberOfPages()]"><a ng-click="changeCurrentPage(numberOfPages()-1)">{{msg('last')}}</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="inbox-header">{{msg('Managing Permissions')}}</div>
<div class="box-content clearfix">
    <div class="well3">
        <form class="form-inline">
            <label class="control-label">{{msg('View Permissions')}}</label>
            <select ng-model="selectedItemRole" ng-options="permissionsModuleName.moduleName for permissionsModuleName in permissionList">
                <option value="">-- chose modeule --</option>
            </select>
        </form>
        <div class="margin-before">
            <form class="form-inline">
                <label class="control-label">{{msg('Role name')}}</label>
                <input type="text" class="input-medium">

            <div class="" ng-repeat="permission in permissionList">
                <div class="label-header ">{{permission.bundleName}}</div>
                <table class="table table-condensed table-bordered table-striped table-lightblue">
                    <thead class="table-header">
                    <tr>
                        <th>Id </th>
                        <th>{{msg('Action')}} </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>
                            <label class="checkbox">
                                <input type="checkbox"> {{msg('Add tree')}}
                            </label>
                        </td>
                        <td>{{msg('Demo tree')}}</td>
                        <td>
                            <button class="btn btn-mini btn-success"><i class="icon-plus icon-white i-middle"></i></button> {{msg('Limit Scope')}}
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>
                            <label class="checkbox">
                                <input type="checkbox"> {{msg('Add decision tree')}}
                            </label>
                        </td>
                        <td>{{msg('Demo tree')}}</td>
                        <td>
                            <button class="btn btn-mini btn-success"><i class="icon-plus icon-white i-middle"></i></button> {{msg('Limit Scope')}}
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>
                            <label class="checkbox">
                                <input type="checkbox"> {{msg('Add message')}}
                            </label>
                        </td>
                        <td>{{msg('Demo tree')}}</td>
                        <td>
                            <button class="btn btn-mini btn-success"><i class="icon-plus icon-white i-middle"></i></button> {{msg('Limit Scope')}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            </form>
        </div>

        <div class="pagination pagination-centered pagination-condensed">
        </div>
    </div>
</div>