<div id="streamResourceModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="streamResourceLabel" aria-hidden="true" clear-form="streamResourceForm">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="streamResourceLabel">{{msg('header.resource')}}: {{select.name}}, {{select.language}}</h3>
    </div>
    <div class="modal-body">
        <form id="streamResourceForm" name="streamResourceForm" class="form-horizontal" action="../cmsliteapi/resource/stream/{{select.language}}/{{select.name}}" enctype="multipart/form-data" method="POST">
            <div class="control-group">
                <div class="controls" ui-if="mode == 'read'">
                    <a href="../cmsliteapi/stream/{{select.language}}/{{select.name}}">{{msg('button.openRawFile')}}</a>
                </div>
                <div class="controls" ui-if="mode == 'write'">
                    {{msg('info.fileChosen')}} <input type="file" id="contentFile" name="contentFile">
                    <span class="form-hint" style="display: none;">{{msg('error.required.stream')}}</span>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <!-- read mode -->
        <button ui-if="mode == 'read'" class="btn btn-primary" ng-click="changeMode('write')"><i class="icon-ok icon-white"></i> {{msg('button.replace')}}</button>
        <button ui-if="mode == 'read'" class="btn btn-danger" ng-click="removeResource('stream', select)"><i class="icon-remove"></i> {{msg('button.delete')}}</button>
        <button ui-if="mode == 'read'" class="btn" data-dismiss="modal" aria-hidden="true">{{msg('button.close')}}</button>

        <!-- write mode -->
        <button ui-if="mode == 'write'" class="btn btn-primary" ng-click="editStreamResource()"><i class="icon-ok icon-white"></i> {{msg('button.replace')}}</button>
        <button ui-if="mode == 'write'" class="btn" ng-click="changeMode('read')">{{msg('button.cancel')}}</button>
    </div>
</div>