<div id="stringResourceModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="stringResourceLabel" aria-hidden="true" clear-form="stringResourceForm">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="stringResourceLabel">{{msg('header.resource')}}: {{select.name}}, {{select.language}}</h3>
    </div>
    <div class="modal-body">
        <form id="stringResourceForm" name="stringResourceForm" class="form-horizontal" action="../cmsliteapi/resource/string/{{select.language}}/{{select.name}}" method="POST">
            <div class="control-group">
                <div class="controls">
                    <textarea rows="3" id="value" name="value" ng-model="select.value"></textarea>
                    <span class="form-hint" style="display: none;">{{msg('error.required.string')}}</span>
                    <span>{{msg('info.characters')}}: {{select.value.length}}</span>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="editStringResource()"><i class="icon-ok icon-white"></i> {{msg('button.edit')}}</button>
        <button class="btn btn-danger" ng-click="removeResource('string', select)"><i class="icon-remove"></i> {{msg('button.delete')}}</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">{{msg('button.close')}}</button>
    </div>
</div>