<div id="footer">
    <span class="">
        <strong> {{msg('server.localTime')}}&#58; </strong> <span server-time> </span>&#59;
        <strong> {{msg('server.time')}}&#58; </strong><span server-up-time> </span>&#59;
        <strong> {{msg('server.projectVersion')}}&#58; </strong> {{msg('server.version')}}
        <!--<button class="ui-layout-button-toggle-south ui-layout-button-toggle">South</button>
        <span id="west-closer" class="button-close button-close-west" title="Close West Pane"></span>-->
    </span>
</div>
