.mrs .form-horizontal .control-label {
    width: 200px;
}

.mrs .form-horizontal .controls {
    margin-left: 220px;
}

.mrs .form-actions {
    margin: 0 -20px 0 -20px;
    padding-left: 240px;
    background-color: #E3EDF8;
}

.mrs .table-mrs tbody tr > td:first-child {
    min-width: 7%;
    width: 90px;
}

.mrs .table-mrs tbody tr > td:nth-child(2) {
    width: 20%;
}

.mrs .table-mrs tbody tr > td:nth-child(3) {
    width: 20%;
}

.mrs .table-mrs thead .sorting-no {
    float: right;
    width: 15px;
    height: 24px;
    background: url("../img/sort.png")no-repeat center right;
}

.mrs .table-mrs thead .sorting-asc {
    float: right;
    width: 15px;
    height: 24px;
    background: url("../img/sort-asc.png")no-repeat center right;
}

.mrs .table-mrs thead .sorting-desc {
    float: right;
    width: 15px;
    height: 24px;
    background: url("../img/sort-desc.png")no-repeat center right;
}

.mrs .table-mrs thead .sorting-no-img {
    float: right;
    width: 1px;
    height: 24px;
    background: none;
}

.mrs .table-mrs th {
    white-space: nowrap;
    cursor: pointer;
}

.mrs .table-patient {
    border-radius: 0 0 6px 6px;
    border: none;
    font-size: 14px;
    margin: 0;
}

.table-patient tbody tr > td:first-child {
    text-align: right;
    width: 220px;
    font-weight: bold;
}

.mrs .table-patient tbody tr > td:nth-child(2) {
    width: 220px;
}

.mrs .table-mrs tbody > tr:first-child {
    border: none;
}

.details-panel {
    border: 1px solid #dddddd;
    border-radius: 6px;
    position: relative;
    padding: 0;
}

.label-legend {
    margin: -10px 0 0 30px;
    background: #F2FAFD;
    color: #538FE3;
    padding: 0 3px;
    position: absolute;
    font-size: 12px;
    border-radius: 4px;
}
