<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

  #foreach ( $entry in $list )
  <bean id="$entry.get('name')Repository" class="$entry.get('repository')" />
  <bean id="$entry.get('name')" class="$entry.get('service')">
    <property name="repository">
        <bean class="$entry.get('repository')" />
    </property>
  </bean>
  #end
</beans>