<div class="row-fluid">

    <div id="operations-resource" class="control-group">
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapse-resource">
            {{msg('resource.filters')}}
        </button>
    </div>

    <div class="collapse in margin-before" id="collapse-resource">

        <div class="row-fluid span12">
            <div class="span4">
                <fieldset class="inside"><legend>{{msg('sms.logging.phoneNumber')}}</legend>
                    <div class="control-group form-inline">
                        <input type="text" class="input-large search-query" placeholder="{{msg('sms.logging.search')}}" data-event-type="keyup" data-search-field="phoneNumber" jqgrid-search="resourceTable">
                    </div>
                </fieldset>
            </div>
            <div class="span6">
                <fieldset class="inside"><legend>{{msg('sms.logging.message')}}</legend>
                    <div class="control-group form-inline">
                        <input type="text" class="input-large search-query" placeholder="{{msg('sms.logging.search')}}" data-event-type="keyup" data-search-field="message" jqgrid-search="resourceTable">
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row-fluid span12">
                <div class="span6">
                    <fieldset class="inside"><legend>{{msg('sms.logging.message.time')}}</legend>
                        <div class="control-group form-inline">
                            <input type="text" class="input-large search-query" placeholder="{{msg('sms.logging.from')}}" data-event-type="keyup" data-search-field="timeFrom" jqgrid-search="resourceTable">
                            <input type="text" class="input-large search-query" placeholder="{{msg('sms.logging.to')}}" data-event-type="keyup" data-search-field="timeTo" jqgrid-search="resourceTable">
                        </div>
                    </fieldset>
                </div>
                <div class="span4">
                    <fieldset class="inside"><legend>{{msg('sms.logging.deliver.status')}}</legend>
                        <div data-toggle="buttons-checkbox" class="btn-group form-inline">
                            <button class="btn btn-primary active" type="button" data-field-type="array" data-search-field="inProgress" jqgrid-search="resourceTable"><i class="icon-white icon-ok"></i> {{msg('sms.logging.deliver.status.in.progress')}}</button>
                        </div>
                        <div data-toggle="buttons-checkbox" class="btn-group form-inline">
                            <button class="btn btn-primary active" type="button" data-field-type="array" data-search-field="delivered" jqgrid-search="resourceTable"><i class="icon-white icon-ok"></i> {{msg('sms.logging.deliver.status.delivered')}}</button>
                        </div>
                        <div data-toggle="buttons-checkbox" class="btn-group form-inline">
                            <button class="btn btn-primary active" type="button" data-field-type="array" data-search-field="keepTrying" jqgrid-search="resourceTable"><i class="icon-white icon-ok"></i> {{msg('sms.logging.deliver.status.keep.trying')}}</button>
                        </div>
                        <div data-toggle="buttons-checkbox" class="btn-group form-inline">
                            <button class="btn btn-primary active" type="button" data-field-type="array" data-search-field="aborted" jqgrid-search="resourceTable"><i class="icon-white icon-ok"></i> {{msg('sms.logging.deliver.status.aborted')}}</button>
                        </div>
                        <div data-toggle="buttons-checkbox" class="btn-group form-inline">
                            <button class="btn btn-primary active" type="button" data-field-type="array" data-search-field="unknown" jqgrid-search="resourceTable"><i class="icon-white icon-ok"></i> {{msg('sms.logging.deliver.status.unknown')}}</button>
                        </div>
                    </fieldset>
                </div>
        </div>
        <div class="row-fluid span4">
            <div class="span4">
                <fieldset class="inside"><legend>{{msg('sms.logging.direction')}}</legend>
                    <div data-toggle="buttons-checkbox" class="btn-group control-group">
                        <button class="btn btn-primary active" type="button" data-field-type="boolean" data-search-field="inBound" jqgrid-search="resourceTable"><i class="icon-white icon-ok"></i> {{msg('sms.logging.direction.inbound')}}</button>
                        <button class="btn btn-primary active" type="button" data-field-type="boolean" data-search-field="outBound" jqgrid-search="resourceTable"><i class="icon-white icon-ok"></i> {{msg('sms.logging.direction.outbound')}}</button>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    <div id="outsideResourceTable" class="margin-before2">
        <table id="resourceTable" logging-grid="pageResourceTable"></table>
        <div id="pageResourceTable"></div>
    </div>

</div>

