<div id="operations-resource" class="control-group">
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapse-resource">
        {{msg('resource.filters')}}
    </button>
</div>

<div class="collapse in margin-before" id="collapse-resource">

    <div class="row-fluid span12">
        <div class="span4">
            <fieldset class="inside"><legend>{{msg('sms.logging.phoneNumber')}}</legend>
                <div class="control-group form-inline">
                    <input type="text" class="input-large search-query" placeholder="{{msg('sms.logging.search')}}" data-event-type="keyup" data-search-field="phoneNumber" jqgrid-search="resourceTable">
                </div>
            </fieldset>
        </div>
        <div class="span6">
            <fieldset class="inside"><legend>{{msg('sms.logging.message')}}</legend>
                <div class="control-group form-inline">
                    <input type="text" class="input-large search-query" placeholder="{{msg('sms.logging.search')}}" data-event-type="keyup" data-search-field="messageContent" jqgrid-search="resourceTable">
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row-fluid span12">
        <div class="span6">
            <fieldset class="inside"><legend>{{msg('sms.logging.messageTime')}}</legend>
                <div class="control-group form-inline">
                    <input id="dateTimeFrom" type="datetime" class="input-large search-query" placeholder="{{msg('sms.logging.from')}}" data-event-type="change" data-search-field="timeFrom" jqgrid-search="resourceTable">
                    <input id="dateTimeTo" type="datetime" class="input-large search-query" placeholder="{{msg('sms.logging.to')}}" data-event-type="change" data-search-field="timeTo" jqgrid-search="resourceTable">
                </div>
            </fieldset>
        </div>
        <div class="span4">
            <fieldset class="inside"><legend>{{msg('sms.logging.deliveryStatus')}}</legend>
                <div data-toggle="buttons-checkbox" class="btn-group form-inline">
                    <button id="INPROGRESS" class="btn btn-primary active" type="button" data-field-type="array" data-search-field="deliveryStatus" data-search-value="INPROGRESS" jqgrid-search="resourceTable"><i class="icon-white icon-ok"></i> {{msg('sms.logging.deliver.status.in.progress')}}</button>
                </div>
                <div data-toggle="buttons-checkbox" class="btn-group form-inline">
                    <button id="DELIVERED" class="btn btn-primary active" type="button" data-field-type="array" data-search-field="deliveryStatus" data-search-value="DELIVERED" jqgrid-search="resourceTable"><i class="icon-white icon-ok"></i> {{msg('sms.logging.deliver.status.delivered')}}</button>
                </div>
                <div data-toggle="buttons-checkbox" class="btn-group form-inline">
                    <button id="KEEPTRYING" class="btn btn-primary active" type="button" data-field-type="array" data-search-field="deliveryStatus" data-search-value="KEEPTRYING" jqgrid-search="resourceTable"><i class="icon-white icon-ok"></i> {{msg('sms.logging.deliver.status.keep.trying')}}</button>
                </div>
                <div data-toggle="buttons-checkbox" class="btn-group form-inline">
                    <button id="ABORTED" class="btn btn-primary active" type="button" data-field-type="array" data-search-field="deliveryStatus" data-search-value="ABORTED" jqgrid-search="resourceTable"><i class="icon-white icon-ok"></i> {{msg('sms.logging.deliver.status.aborted')}}</button>
                </div>
                <div data-toggle="buttons-checkbox" class="btn-group form-inline">
                    <button id="UNKNOWN" class="btn btn-primary active" type="button" data-field-type="array" data-search-field="deliveryStatus" data-search-value="UNKNOWN" jqgrid-search="resourceTable"><i class="icon-white icon-ok"></i> {{msg('sms.logging.deliver.status.unknown')}}</button>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row-fluid span4">
        <div class="span4">
            <fieldset class="inside"><legend>{{msg('sms.logging.direction')}}</legend>
                <div data-toggle="buttons-checkbox" class="btn-group control-group">
                    <button id="INBOUND" class="btn btn-primary active" type="button" data-field-type="array" data-search-field="smsType" data-search-value="INBOUND" jqgrid-search="resourceTable"><i class="icon-white icon-ok"></i> {{msg('sms.logging.direction.inbound')}}</button>
                    <button id="OUTBOUND" class="btn btn-primary active" type="button" data-field-type="array" data-search-field="smsType" data-search-value="OUTBOUND" jqgrid-search="resourceTable"><i class="icon-white icon-ok"></i> {{msg('sms.logging.direction.outbound')}}</button>
                </div>
            </fieldset>
        </div>
    </div>
</div>