<div class="row-fluid"><!------------------------  Edit Patient Details  ------------------------------------->
    <div class="span10 margin-after mrs">
        <div class="box-header">{{msg('data.provider.mrs.patient')}}</div>
        <div class="box-content inside clearfix">
            <h4>{{msg('data.provider.mrs.patient.name')}} {{personDto.firstName}} {{personDto.lastName}}</h4>
            <div class="control-group clearfix">
                <span class="pull-right"><h5>{{msg('data.provider.mrs.patient.motechId')}} {{patientDto.motechId}}</h5></span>
            </div>

            <form name="form" class="form-horizontal inside">

                <div class="control-group">
                    <label class="control-label"></label>
                    <div class="form-actions">
                        <input class="btn btn-primary" ng-disabled="form.$invalid" type="button" ng-click="save()" value="{{msg('save')}}" >
                        <input class="btn" type="button" ng-click="cancel()" value="{{msg('cancel')}}" >
                    </div>
                </div>
                <div ng-class="cssClass('motechId','1')">
                    <label class="control-label">{{msg('data.provider.mrs.patient.motechId')}}</label>
                    <div class="controls">
                        <input class="span10" type="text" ng-model="patientDto.motechId" required />
                        <span ng-hide="hasValue('motechId','1')" class="form-hint">{{msg('data.provider.mrs.error.motechId')}}</span>
                    </div>
                </div>
                <div ng-class="cssClass('firstName','2')">
                    <label class="control-label">{{msg('data.provider.mrs.person.field.firstName')}}</label>
                    <div class="controls">
                        <input class="span10" type="text" ng-model="personDto.firstName" required />
                        <span ng-hide="hasValue('firstName','2')" class="form-hint">{{msg('data.provider.mrs.error.firstName')}}</span>
                    </div>
                </div>
                <div ng-class="cssClass('middleName','2')">
                    <label class="control-label">{{msg('data.provider.mrs.person.field.middleName')}}</label>
                    <div class="controls">
                        <input class="span10" type="text" ng-model="personDto.middleName" required />
                        <span ng-hide="hasValue('middleName','2')" class="form-hint">{{msg('data.provider.mrs.error.middleName')}}</span>
                    </div>
                </div>
                <div ng-class="cssClass('lastName','2')">
                    <label class="control-label">{{msg('data.provider.mrs.person.field.lastName')}}</label>
                    <div class="controls">
                        <input class="span10" type="text" ng-model="personDto.lastName" required />
                        <span ng-hide="hasValue('lastName','2')" class="form-hint">{{msg('data.provider.mrs.error.lastName')}}</span>
                    </div>
                </div>
                <div ng-class="cssClass('preferredName','2')">
                    <label class="control-label span4">{{msg('data.provider.mrs.person.field.preferredName')}}</label>
                    <div class="controls">
                        <input class="span10" type="text" ng-model="personDto.preferredName" required />
                        <span ng-hide="hasValue('preferredName','2')" class="form-hint">{{msg('data.provider.mrs.error.preferredName')}}</span>
                    </div>
                </div>
                <div ng-class="cssClass('address','2')">
                    <label class="control-label" for="message">{{msg('data.provider.mrs.person.field.address')}}</label>
                    <div class="controls">
                        <textarea class="span10" rows="3" ng-model="personDto.address" id="message" placeholder="{{msg('111 1st St Seattle, WA USA')}}" required></textarea>
                        <span ng-hide="hasValue('address','2')" class="form-hint">{{msg('data.provider.mrs.error.address')}}</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">{{msg('data.provider.mrs.person.field.gender')}}</label>
                    <div class="controls" data-role="content">
                        <label class="radio inline">
                            <input type="radio" ng-model='personDto.gender' id="optionsRadios1" value="male" >
                            {{msg('data.provider.mrs.person.field.gender.male')}}
                        </label>
                        <label class="radio inline">
                            <input type="radio" ng-model='personDto.gender' id="optionsRadios2" value="female" >
                            {{msg('data.provider.mrs.person.field.gender.female')}}
                        </label>
                    </div>
                </div>
                <div ng-class="cssClass('dateOfBirth','2')">
                    <label class="control-label">{{msg('data.provider.mrs.person.field.dateOfBirth')}}</label>
                    <div class="controls">
                        <div class="input-append span11">
                            <input type='text' ng-model='personDto.dateOfBirth' datepicker required />
                            <span ng-hide="hasValue('dateOfBirth','2')" class="form-hint">{{msg('data.provider.mrs.error.dateOfBirth')}}</span>
                            <!-- <button class="btn" type="button"><i class="icon-th"></i></button>-->
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">{{msg('data.provider.mrs.person.field.birthDateEstimated')}}</label>
                    <div class="controls">
                        <label class="checkbox">
                            <input ng-model="personDto.birthDateEstimated" type="checkbox" value="">
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">{{msg('data.provider.mrs.person.field.dead')}}</label>
                    <div class="controls">
                        <label class="checkbox">
                            <input ng-model="personDto.dead" type="checkbox" value="">
                        </label>
                    </div>
                </div>
                <div ng-class="cssClass('facilityId','3')">
                    <label class="control-label">{{msg('data.provider.mrs.facility.field.facilityId')}}</label>
                    <div class="controls">
                        <input class="span10" type="text" ng-model="facilityDto.facilityId" />
                        <!--<span ng-hide="hasValue('facilityId','3')" class="form-hint">{{msg('data.provider.mrs.error.facilityId')}}</span>-->
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"></label>
                    <div class="form-actions">
                        <input class="btn btn-primary" ng-disabled="form.$invalid" type="button" ng-click="save()" value="{{msg('save')}}" >
                        <a href="#/dashboard/" class="btn"> {{msg('cancel')}}</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
