<div ng-show="showPatientsView" class="row-fluid"><!------------------------  All Patients  ------------------------------------->
    <div class="span10 margin-after mrs">
        <div class="box-header">{{msg('mrs.patients')}}</div>
        <div class="box-content inside clearfix">
            <div class="control-group">
                <a href="#/mrs/new" role="button" class="btn btn-primary"><i class="icon-plus icon-white"></i> {{msg('mrs.patient.add')}}</a>
                <!--<a ng-click="addPatient()" role="button" class="btn btn-primary"><i class="icon-plus icon-white"></i> {{msg('mrs.patient.add')}}</a>-->
            </div>
            <h4>{{msg('mrs.patient.allPatient')}}</h4>
            <div class="control-group form-inline">
                <label >{{msg('mrs.searchPatient')}}</label>
                <input type="text" ng-model="query" ng-change="search()" class="input-medium search-query" placeholder="{{msg('mrs.searchByIdOrName')}}">
            </div>
            <div class="margin-before">
                <table class="table table-condensed table-bordered table-striped table-lightblue table-mrs">
                    <thead>
                    <tr>
                        <th ng-click="setOrder('patientId')">
                            <img src=../admin/img/trans.gif alt="{{msg('mrs.sortingId')}}" title="{{msg('mrs.sortingId')}}"
                                 ng-class="getSortClass('patientId')" class="sorting-no" />{{msg('mrs.patient.ID')}} </th>
                        <th ng-click="setOrder('patientGivenName')">
                            <img src=../admin/img/trans.gif alt="{{msg('mrs.sortingGivenName')}}" title="{{msg('mrs.sortingGivenName')}}"
                                 ng-class="getSortClass('patientGivenName')" class="sorting-no" />{{msg('mrs.patient.firstName')}} </th>
                        <th ng-click="setOrder('patientFamilyName')">
                            <img src=../admin/img/trans.gif alt="{{msg('mrs.sortingFamilyName')}}" title="{{msg('mrs.sortingFamilyName')}}"
                                 ng-class="getSortClass('patientFamilyName')" class="sorting-no" />{{msg('mrs.patient.lastName')}} </th>
                        <th ng-click="setOrder('patientId')">
                            <img src=../admin/img/trans.gif alt="{{msg('mrs.sortingAge')}}" title="{{msg('mrs.sortingAge')}}"
                                 ng-class="getSortClass('patientAge')" class="sorting-no" />{{msg('mrs.patient.age')}} </th>
                        <th ng-click="setOrder('patientGender')">
                            <img src=../admin/img/trans.gif alt="{{msg('mrs.sortingId')}}" title="{{msg('mrs.sortingGender')}}"
                                 ng-class="getSortClass('patientGender')" class="sorting-no" />{{msg('mrs.patient.gender')}} </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-click="getPatient(patient)" ng-repeat="patient in patientList">
                        <!--motechId na Id zmienic!-->
                        <td>{{patient.motechId}}</td>
                        <td>{{patient.person.firstName}}</td>
                        <td>{{patient.person.lastName}}</td>
                        <td>{{patient.person.age}}</td>
                        <td>{{patient.person.gender}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--<div class="pagination pagination-centered pagination-condensed lightblue" ng-show="numberOfPages() &gt; 1">
                <ul>
                    <li ng-class="{true:'disabled', false:''}[currentPage==0]"><a ng-click="changeCurrentPage(0)">{{msg('first')}}</a></li>
                    <li ng-repeat="number in [] | repeat:numberOfPages()" ng-class="{true:'active', false:''}[number==currentPage]"><a ng-click="changeCurrentPage(number)">{{number+1}}</a></li>
                    <li ng-class="{true:'disabled', false:''}[currentPage==(numberOfPages()-1)]"><a ng-click="changeCurrentPage(numberOfPages()-1)">{{msg('last')}}</a></li>
                </ul>
            </div>-->
        </div>
    </div>
</div>

<div ng-hide="selectedPatientView" class="row-fluid"><!------------------------  Patient  ------------------------------------->
    <div class="span10 margin-after mrs">
        <div class="box-header">{{msg('mrs.patient')}}</div>
        <div class="box-content inside clearfix">
            <h4>{{msg('mrs.patient.patient')}} {{patientDto.person.firstName}} {{patientDto.person.lastName}}</h4>
            <a href="#/mrs/{{patientDto.motechId}}/edit"><h6>{{msg('mrs.patient.editPatientDetails')}}</a>  <span class="pull-right">{{msg('mrs.patient.motechId')}} {{patientDto.motechId}}</span></h6>

            <div class="dialog-panel">
                <table class="table table-condensed table-bordered table-striped table-lightblue table-mrs">
                    <tbody>
                    <tr>
                        <td>{{msg('mrs.patient.firstName')}}</td>
                        <td>{{patientDto.person.firstName}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>{{msg('mrs.patient.middleName')}}</td>
                        <td>{{patientDto.person.middleName}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>{{msg('mrs.patient.lastName')}}</td>
                        <td>{{patientDto.person.lastName}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>{{msg('mrs.patient.preferredName')}}</td>
                        <td>{{patientDto.person.preferredName}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>{{msg('mrs.patient.address')}}</td>
                        <td>{{patientDto.person.address}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>{{msg('mrs.patient.gender')}}</td>
                        <td>{{patientDto.person.gender}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>{{msg('mrs.patient.dateOfBirth')}}</td>
                        <td>{{patientDto.person.dateOfBirth | date:'dd/MM/yyyy'}}</td>
                        <td>{{msg('mrs.patient.estimate')}} {{patientDto.person.birthDateEstimated}}</td>
                    </tr>
                    <tr>
                        <td>{{msg('mrs.patient.deceased')}}</td>
                        <td>{{patientDto.person.dead}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>{{msg('mrs.patient.facilityId')}}</td>
                        <td>{{patientDto.person.facilityId}}</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="dialog-panel css-output">
                <table class="table table-condensed table-bordered table-striped table-lightblue table-mrs">
                    <tbody>
                    <tr>
                        <td>{{msg('mrs.patient.edd')}}</td>
                        <td>{{patient.edd}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>{{msg('mrs.patient.hivStatus')}}</td>
                        <td>{{patient.hivStatus}}</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
