<div ng-show="showPatientsView" class="row-fluid"><!------------------------  All Patients  ------------------------------------->
    <div class="span10 margin-after mrs">
        <div class="box-header">{{msg('data.provider.mrs.patients')}}</div>
        <div class="box-content inside clearfix">
            <div class="control-group">
                <a href="#/mrs/new" role="button" class="btn btn-primary"><i class="icon-plus icon-white"></i> {{msg('data.provider.mrs.add.patient')}}</a>
            </div>
            <h4>{{msg('data.provider.mrs.all.patients')}}</h4>
            <div class="control-group form-inline">
                <label >{{msg('data.provider.mrs.search.patient')}}</label>
                <input type="text" ng-model="query" ng-change="search()" class="input-medium search-query" placeholder="{{msg('data.provider.mrs.searchByIdOrName')}}">
            </div>
            <div class="margin-before">
                <table class="table table-condensed table-bordered table-striped table-lightblue table-mrs">
                    <thead>
                    <tr>
                        <th ng-click="setOrder('patientId')">
                            <img src=../admin/img/trans.gif alt="{{msg('mrs.sortingId')}}" title="{{msg('mrs.sortingId')}}"
                                 ng-class="getSortClass('patientId')" class="sorting-no" />{{msg('data.provider.mrs.patient.lookupField.id')}} </th>
                        <th ng-click="setOrder('patientGivenName')">
                            <img src=../admin/img/trans.gif alt="{{msg('mrs.sortingGivenName')}}" title="{{msg('mrs.sortingGivenName')}}"
                                 ng-class="getSortClass('patientGivenName')" class="sorting-no" />{{msg('data.provider.mrs.person.field.firstName')}} </th>
                        <th ng-click="setOrder('patientFamilyName')">
                            <img src=../admin/img/trans.gif alt="{{msg('mrs.sortingFamilyName')}}" title="{{msg('mrs.sortingFamilyName')}}"
                                 ng-class="getSortClass('patientFamilyName')" class="sorting-no" />{{msg('data.provider.mrs.person.field.lastName')}} </th>
                        <th ng-click="setOrder('patientId')">
                            <img src=../admin/img/trans.gif alt="{{msg('mrs.sortingAge')}}" title="{{msg('mrs.sortingAge')}}"
                                 ng-class="getSortClass('patientAge')" class="sorting-no" />{{msg('data.provider.mrs.person.field.age')}} </th>
                        <th ng-click="setOrder('patientGender')">
                            <img src=../admin/img/trans.gif alt="{{msg('mrs.sortingId')}}" title="{{msg('mrs.sortingGender')}}"
                                 ng-class="getSortClass('patientGender')" class="sorting-no" />{{msg('data.provider.mrs.person.field.gender')}} </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-click="getPatient(patient)" ng-repeat="patient in patientList">
                        <!--motechId na Id zmienic!-->
                        <td>{{patient.motechId}}</td>
                        <td>{{patient.person.firstName}}</td>
                        <td>{{patient.person.lastName}}</td>
                        <td>{{patient.person.age}}</td>
                        <td>{{patient.person.gender}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<div ng-hide="selectedPatientView" class="row-fluid"><!------------------------  Patient  ------------------------------------->
    <div class="span10 margin-after mrs">
        <div class="box-header">{{msg('data.provider.mrs.patient')}}</div>
        <div class="box-content inside clearfix">
            <h4>{{msg('data.provider.mrs.patient.name')}} {{patientDto.person.firstName}} {{patientDto.person.lastName}}</h4>
            <a ng-href="#/mrs/{{patientDto.motechId}}/edit"><h6>{{msg('data.provider.mrs.edit.patientDetails')}}</a>  <span class="pull-right">{{msg('data.provider.mrs.patient.motechId')}} {{patientDto.motechId}}</span></h6>

            <div class="control-group clearfix">
                <span class="pull-right"><h5>{{msg('data.provider.mrs.patient.motechId')}} {{patientDto.motechId}}</h5></span>
            </div>

            <div class="details-panel">
                <div class="label-legend">{{msg('data.provider.mrs.patientDetails')}}</div>
                <div class="control-group inside pull-right">
                    <a class="btn btn-primary" href="#/mrs/{{patientDto.motechId}}/edit">{{msg('data.provider.mrs.edit.patientDetails')}}</a>
                </div>
                <table class="table table-lightblue table-patient">
                    <tbody>
                        <tr>
                            <td>{{msg('data.provider.mrs.person.field.firstName')}}</td>
                            <td>{{patientDto.person.firstName}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>{{msg('data.provider.mrs.person.field.middleName')}}</td>
                            <td>{{patientDto.person.middleName}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>{{msg('data.provider.mrs.person.field.lastName')}}</td>
                            <td>{{patientDto.person.lastName}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>{{msg('data.provider.mrs.person.field.preferredName')}}</td>
                            <td>{{patientDto.person.preferredName}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>{{msg('data.provider.mrs.person.field.address')}}</td>
                            <td>{{patientDto.person.address}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>{{msg('data.provider.mrs.person.field.gender')}}</td>
                            <td>{{patientDto.person.gender}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>{{msg('data.provider.mrs.person.field.dateOfBirth')}}</td>
                            <td>{{patientDto.person.dateOfBirth | date:'dd/MM/yyyy'}}</td>
                            <td><strong>{{msg('data.provider.mrs.person.field.birthDateEstimated')}}</strong> {{patientDto.person.birthDateEstimated}}</td>
                        </tr>
                        <tr>
                            <td>{{msg('data.provider.mrs.person.field.dead')}}</td>
                            <td>{{patientDto.person.dead}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>{{msg('data.provider.mrs.facility.field.facilityId')}}</td>
                            <td>{{patientDto.person.facilityId}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="details-panel margin-before3">
                <div class="label-legend">{{msg('data.provider.mrs.customAttributes')}}</div>
                <div class="control-group inside pull-right">
                    <a class="btn btn-primary" href="#/mrs/{{patientDto.motechId}}/editAttributes">{{msg('data.provider.mrs.edit.customAttributes')}}</a>
                </div>
                <table class="table table-lightblue table-patient">
                    <tbody>
                        <tr ng-repeat="attribute in patientDto.person.attributes">
                            <td>{{attribute.name}}</td>
                            <td>{{attribute.value}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
