<div class="row">
    <div class="message-content">
        <div class="form-group inside">
            <a htef="#" class="btn btn-default" ng-click="refresh()"><i class="icon-refresh"></i>&nbsp;{{msg('admin.refresh')}}</a>
            <button type="button" class="btn btn-info" id="admin-filters"><i class="icon-filter icon-white"></i>&nbsp;{{msg('admin.messages.filters')}}</button>
        </div>
        <div class="form-group">
            <span ng-show="messages.length < 1"><p>{{msg('admin.messages.empty')}}</p></span>
        </div>
        <div class="form-group">
            <div ng-repeat="message in pagedItems[currentPage]" ng-class="getCssClass(message)" class="form-group messages col-sm-12">
                <div class="status-message row">
                    <div class="col-sm-11">
                        <ul class="message-list">
                            <li>
                                <span class="msg-date">{{printDate(message.date) | date:'medium'}}</span>&nbsp;
                                <span>{{message.date}}</span>&nbsp;
                                <a ng-href="?moduleName={{message.moduleName}}"><span class="msg-level">[{{message.moduleName}}]</span></a>
                            </li>
                            <li><span class="msg-level">[{{message.level}}]</span>: {{printText(message.text)}}</li>
                        </ul>
                    </div>
                    <div class="col-sm-1">
                        <a ng-click="remove(message)" class="btn btn-default btn-danger-hover btn-sm"><i class="icon-trash icon-white"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
