<div class="well2 scheduler">
    <div class="box-header">
        {{msg('admin.scheduler.title')}}
    </div>
    <div class="box-content">


        <h4 class="frame-title">{{msg('admin.scheduler.jobs')}}&nbsp;&#40;{{jobs.length}}&#41;</h4>
        <div id="operations-scheduler" class="control-group inside hidden">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#collapse-scheduler">
                <i class="icon-eject icon-white"></i>&nbsp;{{msg('admin.scheduler.filters')}}
            </button>
        </div>

        <div class="collapse" id="collapse-scheduler">
            <div class="row-fluid span12 margin-before inside">
                <div class="span4">
                    <fieldset class="inside"><legend>{{msg('admin.scheduler.name')}}</legend>
                        <div class="control-group form-inline">
                            <input type="text" class="input-medium search-query" placeholder="{{msg('scheduler.search')}}" data-event-type="keyup" data-search-field="phoneNumber" jqgrid-search="resourceTable">
                        </div>
                    </fieldset>
                </div>
                <div class="span4">
                    <fieldset class="inside"><legend>{{msg('admin.scheduler.status')}}</legend>
                        <div class="btn-group control-group">

                        </div>
                    </fieldset>
                </div>
                <div class="span4">
                    <fieldset class="inside">
                        <legend>{{msg('admin.scheduler.running')}}</legend>
                        <div class="btn-group control-group">
                            <input id="dateTimeFrom" grid-date-picker-from="" type="datetime" class="span6 search-query" placeholder="{{msg('admin.scheduler.from')}}" data-event-type="change" data-search-field="timeFrom" jqgrid-search="resourceTable">
                            <input id="dateTimeTo" grid-date-picker-to="" type="datetime" class="span6 search-query" placeholder="{{msg('admin.scheduler.to')}}" data-event-type="change" data-search-field="timeTo" jqgrid-search="resourceTable">
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

        <div id="outsideSchedulerTable" class="overrideJqgridTable">
            <table id="schedulerTable" scheduler-grid="pageResourceTable"></table>
            <div id="pageResourceTable"></div>
        </div>
    </div>
</div>
